  .expenses {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  
  .expeenses form {
    margin-top: 20px;
  }
  
  .expenses label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .expenses input[type="text"] {
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .expenses button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  